.table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  flex: 1 1 auto;
  border-radius: 7px;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  transition: all .2s;

  & div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  & img {
    height: 50px;
    min-width: 25px;
  }

  & div {
    justify-self: baseline;
    cursor: pointer;
  }

  & label {
    margin-left: 15px;
    font-weight: bold;
    flex: 1 1 auto;
  }

  & .flavor {
    margin: 5px 3px 10px 3px;
  }
}
